<html>
    <head>
        <!-- BOOTSTRAP LINKS -->
        {{!-- copy the bootstrap stuff here --}}
        
        <!-- TITLE -->
        <title>Image Steganography - {{tab_title}}</title>

        <!-- CSS FILE -->
        {{!-- we have no css file yet <link rel="stylesheet" href="/css/stego.css> --}}

        <!-- SCRIPTS FILE -->
        <script src="../scripts/stego_algo.js"></script>
    </head>

    <body>
        {{{body}}}
    </body>

</html>